.user-form{
  padding-top: 55px;
}
.user-form__text-block {
  margin-bottom: 52px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @dark-grey;
  line-height: 30px;
}
.user-form__user-name {
  margin-bottom: 42px;
  background-color: @white;
}
.user-form__label-input{
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @magenta;
  line-height: 30px;
  text-transform: uppercase;
}
.user-form__input{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @dark-grey;
  line-height: 30px;
}
.user-form__achievments{
  padding-top: 42px;
  padding-bottom: 42px;
  background-color:@light-grey;
}
.form-title{
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @magenta;
  line-height: 30px;
  text-transform: uppercase;
}
.user-form__label-checkbox{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @dark-grey;
  line-height: 30px;
}
.user-form__contacts{
  padding-top: 42px;
  padding-bottom: 42px;
  background-color:@white;
}
.user-form__application{
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: @light-grey;
}
.user-form__label-radio{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @dark-grey;
  line-height: 30px;
}
.user-form__feedback{
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: @white;
}
.user-form__feedback-text{
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @dark-grey;
  line-height: 30px;
}
.user-form__btn-send{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans Bold', arial;
  color: @white;
  line-height: 30px;
  text-transform: uppercase;
}
