.index-page-footer {
  background-color: @white;
  padding-top: 48px;
  background-image:
    url("../img/bg-map-mobile@1x.png"),
    url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
}
