.download{
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}
.download__button {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans Bold', arial;
  color: @white;
  line-height: 18px;
}
.download__info{
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans Light', arial;
  color: @light-grey;
  line-height: 24px;
}

