.reviews{
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews__author-name{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans Light', arial;
  color: black;
  line-height: 30px;
}
.reviews__text{
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans Regular', arial;
  color: @dark-grey;
  line-height: 30px;
}
