.slogan {
  background-color: white;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  padding-top: 45px;
}
.slogan__text {
  .light-font();
  font-size: 24px;
  color: @grey;
  line-height: normal;
}
